.kitty-1 {
  position: absolute;
  top: 50px;
  left: 100px;
}

#kitty-2 {
  position: absolute;
  top: 100px;
  left: 150px;
}

#basket img {
  position: absolute;
  top: 150px;
  left: 200px;
}

.wheelbarrow + .kitty-4 {
  position: absolute;
  top: 200px;
  left: 250px;
}

img[alt="Kitty 5"] {
  position: absolute;
  top: 250px;
  left: 300px;
}

.wheelbarrow {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  background-color: brown;
}